* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.background {
    /* overflow-x: hidden; */
    background-image: url('p6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    /* overflow-x: hidden; */
    background-image: url('p6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cs {
    color: red;
}

.blur{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: auto;
}

nav {
    /* min-height: 15vh;
    max-height: 15vh; */
    margin: 0;
    padding: 0;
    height: 12rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    display: flex;
    align-items: center;

    background-color: white;

    position: sticky;
    top: 0%;
}

.logo-div {
    width: 25%;
    margin: auto;
}

.logo {
    text-align: center;
    color: black;
}

nav ul {
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: right;
    margin-right: 2rem;
}

nav ul li {
    list-style: none;
    text-align: center;
    /* border: 1px solid green; */
}

nav ul li a {
    text-decoration: none;
    color: black;
    height: auto;
    padding: 4.5rem 5rem;
    text-align: center;
    /* border: 1px solid yellow; */
}

.login {
    display: block;
    margin: auto;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    border-bottom: 5px solid black;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

.burger {
    margin-left: 2rem;
    display: none;
}

.burger div {
    background-color: white;
    width: 3.5rem;
    height: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}

.login:hover {
    border-bottom: 5px solid white;
    color: white;
}

.logolink:hover {
    cursor: pointer;
}

.logolink {
    text-decoration: none;
    color: white;
}


/* 
.contact {
    background-color: orange;
    color: black;
    padding: 4rem 5rem;
}


.contact:hover {
    background-color: white;
    color: black;
} */
/* 
header{
    position: sticky;
    top: 0%;
} */

/* BANNER EDITING  */

.banner img {
    height: auto;
    width: 100%;
}

.banner {
    display: flex;
}


.banner {
    width: 100%;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.banner h1{
    font-size: 5rem;
    margin: 0rem 0;
}
.banner h3{
    display: block;
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
    
}
.banner a{
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 2.5rem 5rem;
}


.banner a:hover {
    background-color: white;
    color: black;
}

/* PRODUCTS SECTION EDITING  */

.products-wrapper {
    width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5rem;

    text-align: center;
    color: white;
}

.products-container {
    padding: 2rem 0;
    width: 95%;
    margin: auto;
}

.products-container div {
    padding: 5rem 0;
    margin: 1rem;
    width: 40%;
    height: auto;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
}

.title {
    font-weight: bold;
    font-size: 3rem;
    color: white;
    padding: 2rem 0;
}
/* 
.products-container div img {
    height: auto;
    width: 30rem;
    display: block;
    margin: auto;
} */

.products-container div img {
    width: 20rem;
    display: block;
}

.products-container h2 {
    display: block;
    font-size: 2rem;
}

.products-container p {
    display: block;
    font-size: 1.5rem;
}

.product1 {
    margin: 0 0 1rem 0;
}

.product1 img {
    height: auto;
    padding: 5.5rem 0;
    width: 34rem;
    display: block;
    margin: auto;
}

.product2 img {
    height: auto;
    width: 21rem;
    display: block;
    margin: auto;
}

.product3 img {
    padding: 5.5rem 0;
    height: auto;
    width: 30rem;
    display: block;
    margin: auto;
}

.product4 img {
    height: auto;
    width: 30rem;
    display: block;
    margin: auto;
    padding: 5.9rem 0 0 0;
}

.product1 h2 {
    padding: 5rem 0 1rem 0;
}

.product2 h2 {
    padding: 5rem 0 1rem 0;
}

.product3 h2 {
    padding: 5rem 0 1rem 0;
}

.product4 h2 {
    padding: 5rem 0 1rem 0;
}

.products-container div:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 1rem;
}

.productlink {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* PROJECTS EDITING */

.projects {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5rem 0;
}

.projects h2 {
    padding: 5rem 0;
    text-align: center;
    color: white;
}

.video-container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.video-container iframe {
    width: 100%;
    height: 50rem;
    display: block;
    margin: 0 2rem;
}

/* companies section styling */

.companies {
    width: 100%;
    height: aut0;
    text-align: center;
    padding: 5rem 0;
}

.companies {
    background-color: white;
}

.comlogos {
    width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5rem 0;
}

.comlogos img {
    width: 20rem;
    margin: 0 4rem;
    justify-content: center;
    align-items: center;
}

.i2 {
    padding: 3rem 0;
}

.i3 {
    padding: 1.3rem 0;
}

.i4 {
    padding: 7rem 0;
}

/* footerstyling */

/* footer {
    padding: 5rem 0;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: black;
} */
footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 5rem;
    text-align: center;
    justify-items: center;
}

footer img {
    width: 3rem;
    height: 3rem;
    margin: 2rem 1rem;
}


@media only screen and (max-width:760px) {

    header {
        display: flex;        
        background-color: rgba(255, 255, 255);
        color: black;
    }

    .burger {
        width: 10%;
    }

    .logo {
        width: 90%;
        color: black;
        text-align: center;
    }

    /* nav {
        display: none;
    } */

    .burger {
        display: initial;
    }

    .burger div {
        background-color: black;
    }

    nav {
        align-items: center;
        justify-content: center;
    }

    .logo-div{
        width: 75%;
    }

    /* Navbar */
    nav {
        /* min-height: 15vh;
        max-height: 15vh; */
        margin: 0;
        padding: 0;
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 2rem;
        display: flex;
        align-items: center;
    
        background-color: rgb(255, 255, 255);
    
        position: sticky;
        top: 0%;
        
        justify-content: center;
        align-items: center;
    }

    nav ul {
        margin-right: 0;
    }

    nav ul li {
        display: block;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    nav ul li a{
        /* padding: 7vh 0; */
        padding: 0;
        display: block;
        width: 100%;
        height: auto;
        text-align: left;
        padding: 1rem 0 1rem 1rem;
        justify-content: center;
        align-items: center;
        color: white;
        /* border: 1px solid green; */
        
        border-top: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);

    }

    .nav-links {
        width: 80%;
        align-items: center;
        text-align: center;
        /* height: vh; */
        background-color: rgb(41, 41, 47);
        
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0px;
        top: 10.12vh;
        transform: translateX(-100%);
        height: 89.88vh;
        padding: 0;
        
        transition: ease-in 0.5s;
    }

    .navSlide {
        transform: translateX(0%);
    }

    nav ul li a:hover {
        background-color: black;
        color: white;
    }

    .contact {
        background-color: darkorange;
        color: black;
    }

    .bg{
        background-color: black;
        color: white;
    }

    /* Navbar Ends */

    .banner h1 {
        margin-bottom: 1rem;
    }

    .banner a{
        display: block;
        font-size: 2rem;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 1.5rem 3rem;
        margin-top: 2rem;
        
    }
    
    .banner h3 {
        height: auto;
        width: 85%;
        margin: 2rem auto;
        text-align: center;
    }

    .title {
        padding: 5rem 0 0 0;
    }


    .products-wrapper {
        padding: 0;
    }

    .products-container {
        display: flex;
        flex-direction: column;
    }

    .products-container div {
        width: 95%;
        margin: 2rem auto;
    }

    .video-container {
        display: flex;
        flex-direction: column;
    }

    .video-container iframe {
        width: 90%;
        margin: 2rem auto;
    }

    .companies {
        display: none;
    }

    /* footer code starts */
    
footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 5rem;
    text-align: center;
    justify-items: center;
}

footer img {
    width: 3rem;
    height: 3rem;
    margin: 2rem 1rem;
}

    /* footer code end */
}


@media only screen and (min-width:760px) and (max-width:1025px) {

    header {
        display: flex;        
        background-color: rgba(255, 255, 255);
        color: black;
    }

    .burger {
        width: auto;
        display: inline;
    }

    .logo {
        width: 100%;
        color: black;
        text-align: left;
        padding-left: 2rem;
    }

    /* nav {
        display: none;
    } */

    .burger {
        display: initial;
    }

    .burger div {
        background-color: black;
    }
/* 
    nav {
        align-items: center;
        justify-content: center;
    } */

    .logo-div{
        width: 100%;
    }

    /* Navbar */
    nav {
        /* min-height: 15vh;
        max-height: 15vh; */
        margin: 0;
        padding: 0;
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 2rem;
        display: flex;
        align-items: center;
    
        background-color: rgb(255, 255, 255);
    
        position: sticky;
        top: 0%;
        
        justify-content: center;
        align-items: center;
    }

    nav ul {
        margin-right: 0;
    }

    nav ul li {
        display: block;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    nav ul li a{
        /* padding: 7vh 0; */
        padding: 0;
        display: block;
        width: 100%;
        height: auto;
        text-align: left;
        padding: 1rem 0 1rem 1rem;
        justify-content: center;
        align-items: center;
        color: white;
        /* border: 1px solid green; */
        
        border-top: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);

    }

    .nav-links {
        width: 50%;
        align-items: center;
        text-align: center;
        /* height: vh; */
        background-color: rgb(41, 41, 47);
        
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0px;
        top: 10.12vh;
        transform: translateX(-100%);
        height: 89.88vh;
        padding: 0;
        
        transition: ease-in 0.5s;
    }

    .navSlide {
        transform: translateX(0%);
    }

    nav ul li a:hover {
        background-color: black;
        color: white;
    }

    .contact {
        background-color: darkorange;
        color: black;
    }

    .bg{
        background-color: black;
        color: white;
    }

    /* Navbar Ends */

    .banner h1 {
        margin-bottom: 1rem;
    }

    .banner a{
        display: block;
        font-size: 2rem;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 1.5rem 3rem;
        margin-top: 2rem;
        
    }
    
    .banner h3 {
        height: auto;
        width: 85%;
        margin: 2rem auto;
        text-align: center;
    }

    .title {
        padding: 5rem 0 0 0;
    }


    .products-wrapper {
        padding: 0;
    }

    .products-container {
        display: flex;
        flex-direction: column;
    }

    .products-container div {
        width: 95%;
        margin: 2rem auto;
    }

    .video-container {
        display: flex;
        flex-direction: column;
    }

    .video-container iframe {
        width: 90%;
        margin: 2rem auto;
    }

    .companies {
        display: none;
    }

    /* footer code starts */
    
footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 5rem;
    text-align: center;
    justify-items: center;
}

footer img {
    width: 3rem;
    height: 3rem;
    margin: 2rem 1rem;
}

    /* footer code end */
}